.App {
  text-align: left;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td {
  border: 1px solid;
}

.headerstyle {
  background-color: beige;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.official-menu-buttonstyle {
  background-color: beige;
  border-color: darkblue;
  border-width: 5px;
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 220px;
}

.official-general-buttonstyle {
  background-color: light blue;
  border-radius: 10px;
  border-color: darkblue;
  border-width: 3px;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 160px;
  height: 40px
}